.user-container {
  display: flex;
  column-gap: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  align-items: center;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.user-photo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.user-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.user-social {
  display: flex;
  column-gap: 16px;

  font-size: 12px;
  line-height: 16px;
}
